@import '../styles/nav.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.swiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100vh;
  background-color: #010513;
  transition: width 0.8s ease-in-out;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
